@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: poppins;
    background-color: #f7f7f7;
}

#container {
    width: 500px;
    border-radius: 14px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    height: auto;
    margin-top: 50px;
}

#title {
    margin-top: 100px;
    color: #6B6BFF;
}

#resultField {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: 25px;
    margin-top: 20px;
}

#gamesStatus {
    display: flex;
    gap: 100px;
}

:is(#gamesStatus img, img) {
    width: 80px;
}

#usersField img {
    rotate: 90deg;
}

#computerField img {
    transform: rotate(-90deg) rotateY(180deg);
}

#optionsImg {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    cursor: pointer;
    margin-bottom: 20px;
}

#optionsImg img {
    width: 50px;
}

.active:hover {
    opacity: 1;
}

:is(#usersField , #computerField) {
    display: flex;
    flex-direction: column;
    align-items: center;
}
:is(#usersField , #computerField) span {
    margin-bottom: 10px;
}